<!DOCTYPE HTML>
<HTML>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Listings</title>
</head>
<body>
	<div th:each="listing : ${listings}" style="display: table;">
		<div style="border: 1px solid red; display: table; margin: auto; padding: 5px">
			<a th:href="${listing.getListingUrl()}"> <img class="image-listing" th:src="${listing.getImageUrl()}"
				style="max-height: 300px; border: 2px solid gray;">
			</a>
			<table>
				<tbody>
					<tr>
						<td>Price:</td>
						<td><span th:text="${listing.getPrice()}" /></td>
					</tr>
					<tr>
						<td>Address:</td>
						<td><span th:text="${listing.getAddress()}" /></td>
					</tr>
					<tr>
						<td>City:</td>
						<td><span th:text="${listing.getCity()}" /></td>
					</tr>
					<tr>
						<td>Attributes:</td>
						<td><span th:text="${listing.getAttributes()}" /></td>
					</tr>
				</tbody>
			</table>
			<table style="border: 1px solid blue">
				<tbody>
					<tr>
						<td>Commute time:</td>
						<td><span th:text="${listing.getMinuteToCommute()}" /></td>
					</tr>
					<tr>
						<td>Closest metro:</td>
						<td><span th:text="${listing.getClosestMetro()}" /></td>
					</tr>
					<tr>
						<td>Walk time to metro:</td>
						<td><span th:text="${listing.getWalkMinuteToMetro()}" /></td>
					</tr>
				</tbody>
			</table>
		</div>
		<br />
	</div>
</body>
</html>